/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
         url('../fonts/open-sans-v18-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v18-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body, ul, h1, h2,h3 ,h4,h5,h6,p {
    padding:0;
    margin: 0;
}
body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    background-color: #FFF;
    width: 100%;
}
main {
    flex: 1;
}
h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
h2 {
    font-size: 42px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}
h3{
    font-size: 24px;
    letter-spacing: 0.27px;
}
p {
    line-height: 28px;
}
a {
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    text-decoration: none;
}
hr {
    border-top: 2px solid;
}
.header-wrapper, .first-floor, .second-floor, .third-floor,.fourth-floor, .fifth-floor, .sixth-floor, .fif, .eighth-floor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}
header {
    background-color: #F6F2F2;
    padding-top: 29px;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-width: 1249px;
    margin: 0 auto;
    background-color: #000000;
}
.site-menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -46px;
}
.site-menu li {
    display: flex;
    align-items: stretch;
    min-height: 89px;
}
.site-menu a {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-decoration: none;
    text-transform: uppercase;
    color: #E0E0E0;
    padding: 13px 30px 0 30px;
    display: flex;
    align-items: center;
}
.site-menu a:hover {
    background-color: #FF3F40;
}
.zero-floor {
    background-color: #F6F2F2;
}
.header-wrapper {
    padding-top: 102px;
    padding-bottom: 112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
/* 1124 ломается контент */
.our {
    max-width: 50%;
    position: relative;
}
.our h1 {
    margin-top: -13px;
}
.our p {
    margin-top: 18px;
    margin-left: 2px;
}
.our a {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
    border-radius: 4px;
    padding:10px 63px 11px;
    position: absolute;
    bottom: 11px;
    /* left: 1vw; */
}
main {
    /* margin-top: 102px; */
    /* display: none; */
}
.first-floor {
    padding: 96px 0 34px 0;
}
.ff-left {
    /* max-width: 50%; */
    max-width: 533px;
    /* margin-left: 18px; */
}
.ff-right {
    max-width: 606px;
    display: flex;
    flex-wrap: wrap;
}

.ff-left p {
    /* line-height: 29px; */
    padding: 32px 0 64px 0;
    /* max-width: 532px; */
}
.ff-left a {
    border: 2px solid #FF0000;
    padding: 14px 59px;
    border-radius: 4px;
    /* margin: -2px; */
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.ff-left a:visited {
    color: #FF0000;
}

.ff-item {
    max-width: 50%;
    padding: 13px 0 32px 0px;
    /* position: relative; */
}
.ff-item h3 {
    padding: 22px 0 4px 0;
}
hr.ff-end {
    border-color: #ECECEC;
    max-width: 1251px;
}
.second-floor {
    justify-content: center;
    padding: 86px 0 23px 0;
    max-width: 600px;
}
.second-floor h2 {
    text-align: center;
    padding-left: 31px;
}
.second-floor p {
    text-align: center;
    padding: 13px 0 0 33px;
    line-height: 166%;
    /* max-width: 600px; */
}
.sf-end {
    border-top: 2px solid #FF2D2D;
    max-width: 134px;
    /* margin: 0 auto; */
}
.third-floor {
    justify-content: center;
    padding: 79px 0 57px 0;
}
.third-floor ul {
    list-style: none;
    display: flex;
}
.third-floor a {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.22px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 0 22px;
}
.third-floor a:hover {
    color: #FF2D2D;
}

.fourth-floor {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pane-item {
    flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 291px;
    margin-bottom: 18px;
    object-fit: cover;
}
.fifth-floor{
    margin-top: 108px;
    margin-bottom: 33px;
    max-width: 1270px;
    flex-direction: column;
}

.fifth-floor p {
    margin-left: 12px;
    margin-top: 17px;
    max-width: 478px;
}

.fif-end {
    border-top: 2px solid #FF2D2D;
    width: 131px;
    margin: 0;
}
.sixth-floor {
    margin-top: 69px;
}
.sixth-floor .boss {
    width: 322px;
    height: 459px;
    background-color: #FF3F40;
    position: relative;
    max-width: 330px;
}
.img-alien{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/alien.jpg');
    background-color: rgb(87, 89, 96);
}
.sixth-floor .colleges {
    max-width: 856px;
    /* display: flex;
    flex-direction: column;
    margin: 7px 0 0 73px; */
}
.colleges h2 {
    font-weight: 600;
    font-size: 30.127px;
    letter-spacing: 0.27px;
    text-transform: uppercase;
    margin-top: 5px;
}
.colleges p {
    margin: 15px 0px 41px 3px;
}
.colleges ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 373px;
    justify-content: space-between;

}
.colleges a {
    /* text-decoration: underline; */
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
}
.colleges a:hover {
    text-decoration: underline;
}
.colleges a:visited {
    color: #000000;
}
.colleges .imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* min-width: 600px; */
    padding-top:60px;

}
.img-lady-bug{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/lady_bug.jpg');
    background-color: rgb(173, 54, 93);
}
.img-cat-noir{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/cat_noir.jpg');
    background-color: rgb(123, 144, 131);
}
.img-lady-bee{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/lady_bee.jpg');
    background-color: rgb(111, 103, 98);
}
.img-bob{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/bob-builder.jpg');
    background-color: rgb(102, 133, 138);
}
.colleges .img-coll {
    width: 199px;
    height: 214px;
    background-color: #FF3F40;
    /* margin-right: 18px; */
    position: relative;
}

.boss .coll-name,.colleges .coll-name {
    width: 100%;
    height: 37px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.17px;
    color: #FFF;
    background-color: #000;
    opacity: 0.0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.colleges .img-coll:hover .coll-name,
.img-alien:hover .coll-name {
    opacity: 0.5;
}

.seventh-floor {
    display: flex;
    flex-direction: column;
    margin: 110px 0 92px 0;
    background-color: #2C2C2C;
    min-height: 511px;
}
.seventh-floor h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 24px;
    letter-spacing: 1.05px;
    color: #fff;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    padding: 159px 0 25px 0;
    text-transform: none;
}
.seventh-floor p {
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 52px;
}
.seventh-floor .subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 55px; */
}
.seventh-floor input {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
    padding: 32px 0 23px 1vw;
    background-color: #FFF;
    border-radius: 6px;
    width: 507px;
    border: none;
}
.seventh-floor button {
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #FF2D2D;
    padding: 1px 54px 0px 54px;
    border-radius: 6px;
    margin-left: 19px;
    border: none;
}
.eighth-floor {
    /* margin-top: 108px; */
    margin-bottom: 53px;
    max-width: 1247px;
    flex-direction: column;
    /* margin: 0 0 75px 97px; */
}
.eighth-floor h2 {
    /* text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 30px;
    margin: -11px 0 !important; */
    /* margin-left: -20px */
}
.eighth-floor p {
    margin-left: 1px;
    margin-top: 29px;
    max-width: 760px;
}

.ninth-floor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}
.ninth-floor .form {
    display: flex;
    flex-direction: column;
}
.ninth-floor .form div {
    display: flex;
    justify-content: space-between;
    /* max-width: 734px; */
}
.ninth-floor .left, .right {
    flex: 1 1 auto;
}
.ninth-floor .contacts {
    color: #fff;
    margin-left: 104px;
}
.ninth-floor .contacts,.right {
    background-color: #2D2D2D;
}
.ninth-floor input, textarea {
    line-height: 28px;
    /* color: #000000; */
    padding: 20px 0 20px 50px;
    background: #f3f3f3;
    /* mix-blend-mode: normal; */
    /* opacity: 0.1; */
    border-radius: 8px;
    border: none;
    line-height: 28px;
    font-size: 16px;
}

.ninth-floor .form-name {
    width: 292px;
}
.ninth-floor .form-email {
    width: 292px;
    margin-left: 51px;
}
.ninth-floor textarea {
    margin: 46px 0 44px 0;
    /* width: 734px; */
    height: 212px;
}
.ninth-floor button {
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF3B3B;
    padding: 18px 0;
    border: none;
    border-radius: 8px;
}
.ninth-floor .contacts h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1px 0 1 px 0;
}
footer {
    background-color: #313030;
    margin-top:110px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1247px;
    margin: 0 auto;
    padding: 48px 0 26px 0;

}
.footer .copy::before {
    content: '\00A9'
}
.footer .copy {
    line-height: 26px;
    color: #B8B8B8;
}
.footer .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 186px;
}

/* Responsive */

@media screen and (max-width: 1289px) {
    .header-wrapper {
        flex-wrap: nowrap;
    }
    .header-wrapper h1 {
        font-size: 5vw;
    }
    .header-wrapper img {
        width: 50%;
        height: auto;
    }
    .fourth-floor {

    }
    .pane-item {
    max-width: 100%;
       margin-right: 1vw;
    }
}
@media screen and (max-width: 1260px) {
    .pa1ne-item {
        justify-content: space-around;
        margin: 10px;
    }
}
@media screen and (max-width: 1121px) {
	.ff-left,
	.ff-right {
		width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }
    .ff-item {
        max-width: 48%;
        padding: 1vw;
    }
    .eighth-floor h2 {
        margin-left: 0;
    }
}
@media screen and (max-width: 1210px) {
    .sixth-floor {
        justify-content: space-around;
    }
    .sixth-floor .colleges {
        max-width: 556px;
    }
    .colleges .img-coll {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1010px) {
    .fifth-floor {
        max-width: 100%;
        align-items: center;
    }
    .fif {
        justify-content: center;
        max-width: 100%;
    }
    .sixth-floor .colleges {
        max-width: 500px;
        text-align: center;
    }
    .colleges ul {
        max-width: 100%;
    }
}
@media screen and (max-width: 890px) {
    .third-floor ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;
    }
    .third-floor li {
        padding: 10px;
    }
    .pane-item {
        min-width: 282px;
        max-width: 50%;
    }
}
@media screen and (max-width: 860px) {
    h2 { font-size: 36px;}
    .header-wrapper {
        flex-wrap: wrap;
    }
    .header-wrapper h1 {
        font-size: 45px;
    }
    .our, .our a {
        position: initial;
    }
    .our {
        margin-bottom: 25px;
        max-width: 100%;
    }
    .our p {
        margin-bottom: 18px;
    }
    .header-wrapper img {
        width: 100%;
        height: auto;
    }

}
@media screen and (max-width: 849px) {
    /* .sixth-floor {
        justify-content: flex-start;
    } */
    .seventh-floor input {
        width: 65vw;

    }
    .seventh-floor button {
        width: 25vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
@media screen and (max-width: 699px) {
    .pane-item {
        min-width: 340px;
        max-width: 100%;
    }
}
@media screen and (max-width: 600px) {
	.ff-item {
        max-width: 100%;
        /* padding: 1vw; */
    }
}